<div class="chat-container">
  <div class="chat-header">
    <h2>Chat </h2>
  </div>
  <div class="chat-messages">
    <!-- Aici se vor afișa mesajele (ex. folosind *ngFor în componentă) -->
    <app-card *ngFor="let msg of messages" cardTitle="Utilizator">
      <p>{{ msg }}</p>
    </app-card>
  </div>
  <div class="chat-input">
    <input type="chat" [(ngModel)]="message" placeholder="Scrie ceva..." />
    <button (click)="sendMessage()">Trimite</button>
  </div>

  <button>
    <button (click)="sendMessage1('mode qa')">Use QA Mode</button>
  </button>

  <button>
    <button (click)="sendMessage1('mode guide')">Use Guide Mode</button>
  </button>

  <div class="icon-container">
    <i class="fa fa-pencil" (click)="toggleTextbox()"></i> 
  </div>
  
  <div class="textbox-container" *ngIf="isTextboxVisible">
    <p>Educational AI Assistant
      This application has two modes:
      1. Guide Mode: Helps solve problems without giving direct answers
         2.  QA Mode: Answers questions based on PDF content
      mode guide     - Switch to educational guidance mode
      mode qa        - Switch to question answering mode 
      Type the command in the chat to change the mode!</p> 
  </div>
</div>