<div class="courses-page">
  <header class="page-header">
    <h1>Cursuri de Facultate</h1>

    <h2>Alege cursul dorit pentru a vedea documentele aferente.</h2>
  </header>
  <div class="courses-grid">
    <div class="course-card" *ngFor="let course of courses" (click)="openCourse(course)">
      <img [src]="course.image" alt="{{ course.courseName }}" class="course-image" />
      <div class="course-details">
        <h2 class="course-title">{{ course.courseName }}</h2>
        <p class="course-description">{{ course.description }}</p>
      </div>
    </div>
    <button class="btn btn-success" (click)="onAddCourse()">
      <i class="bi bi-upload"></i> Adaugă curs din laptop
    </button>
  </div>

  <div *ngIf="selectedCourse" class="pdf-list">
		<h3>Documente pentru {{ selectedCourse.courseName }}</h3>
		<ul>
			<li *ngFor="let file of selectedCourse.pdfs">
				<a [href]="file.path" target="_blank">{{ file.name }}</a>
			</li>
		</ul>
	</div>

  